/*CSS styles for navbar*/
ul{
	
	max-width: 100%;
	margin: 0 auto 0 auto;
	height: 15%;
	border-bottom: 2px solid black;
}

li{
	background-color: dodgerblue;
	color: white;
	list-style-type: none;
	display: inline-block;
	width: 32%;
	text-align: center;
	border: 1px solid gray;
}

/*
1 - When the user hovers over one of the links, the color of the text should change.
2 - When the user hovers over one of the links, the background color of the element that contains the link should change.
3 - When the user clicks on one of the links, the element that contains the link should grow in size by 5px on the left and right.
*/

li:hover {
	color: gray;
	background-color: #3366cc;
}

li:active{
	padding-right: 5px;
	padding-left: 5px;
}